node_modules/
.env
npm-debug.log*
release/
release-temp/
data/
public/chat-uploads/
certs/letsencrypt/accounts/
certs/letsencrypt/archive/
certs/letsencrypt/live/
certs/letsencrypt/logs/
certs/letsencrypt/work/
build/installerIcon.ico
build/uninstallerIcon.ico
build/installerHeader.bmp
build/installerSidebar.bmp
build/uninstallerSidebar.bmp
